# Environnement et pip
ewefrnlpvenv/
.pip_tmp
*.env
*cache/
.ssh/

# Données et docs
data/
docs/
logs/

# Modèles et outputs lourds
outputs/final_model/
outputs/checkpoints/

# Cache HuggingFace
hf_cache/

# WandB
wandb/

# Python
__pycache__/
*.pyc
.env

